/* Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ''''...''''; */
}

html, body {
    font-size: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin-bottom: 0%;
}


.header {
    font-size: 3.5rem;
    text-align: left;
    background-color: #d48166;
}

.btn {
    float: right;
    align-content: middle;
    text-decoration-line: none;
}

.header button{
    background-color: #E6E2DD;
    margin: 0.5rem; 
    padding: 0.8rem;
    text-align: center;
    align-content: center;
    display: block;
}

.header button:hover {
    transition: 0.5s;
    background: #808080;
}

.finder {
    grid-area: nav;
}

.finder form {
    padding-left: 15%;
}

footer {
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    margin-bottom: 00%;
    color: black;
    text-align: center;
    background-color: #373A36;
    margin-bottom: 0%;
}

footer p {
    color: #E6E2DD;
}

.text {
    padding: 2rem;
    text-align: center;
}

.town-pictures {
    margin: 5rem;
    width: 90%;
}

.town-cards li{
    display: inline-block;
    width: 40%;    
    height: 80vh;
    margin: 3rem;
}


.town-cards img {
    width: 70%;
    height: 50vh;
}

.town-cards {
    padding-right: 2rem;
}

.town-cards li a {
    transition: .5s ease;
}
.town-cards li a:hover {
    opacity: 1;
    background-color: #373A36;

}

/************* Log in page *************/

.logIn-form {
    margin: 3rem;
    padding-left: 35%;
    padding-top: 8%;
    margin-bottom: 9%;
}

/********* Sign up Page *************/

.signUp-form {
    margin: 3rem;
    padding-left: 35%;
    padding-top: 8%;
    margin-bottom: 9%;
}

/********* Add hotel page ***************/

.add-hotel {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #373A36;
    text-align: center;
}